{{! This dose go against no logic in templates but works very well }}

{{#each browsers}}
  <article class='browser-wrapper {{@key}}' data-high='3' id='{{@key}}'>
    <section class='browser-wrapper__heading' data-cols='1'>

      <div>
        <h2 class='th'>
          <span class='browserhacks-{{@key}}'></span>
          <a href='#{{@key}}'>{{capitalizeFirst name}}</a>
        </h2>
      </div>

      {{! Get hacks for this browser }}

      {{#eachFilteredBrowser ../hacks @key}}

        {{! If current type (type) is different from type of last hack (../lasttype) display type heading }}

        {{#isnt type lasttype}}
          </section>
          <section class='browser-wrapper__subheading' data-cols='1' data-type='{{type}}-parent'>
            <div>
              <h3>{{fromObj ../../../hackTypes type 'title'}}</h3>
            </div>
          </section>
          <section class='browser-wrapper__hack-wrapper' data-cols='2' data-type='{{type}}-childs'>

        {{/isnt}}

        <div class='browser-wrapper__hack' id='hack-{{id}}' data-safe='{{safe}}' data-legacy='false' data-version='{{fromObj browsers @key}}'>
          <div>
          {{#if label}}
            <p class='browser-wrapper__label'>{{label}}</p>
          {{/if}}
          <pre class='language-{{language}}'><code>{{code}}</code></pre>
          <ul class='browser-list'>
            {{#each browsers}}
              <li class='browser-list__item'>
                <span class='browser-icon browserhacks-{{@key}}'></span>
                <span class='browser-name'>{{fromObj ../../../browsers @key 'name'}}</span>
                <span class='browser-version'>{{formatVersion ../browsers @key}}</span>
              </li>
            {{/each}}
          </ul>
          <a href='#hack-{{id}}' class='browser-wrapper__link'>#</a>
          </div>
        </div>

      {{/eachFilteredBrowser}}

    </section>
  </article>

{{/each}}
